@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  /* @apply bg-black text-neutral-100; */
  background: linear-gradient(82.93deg, #13151c 11.31%, #0a0b0f 85.92%);
  -webkit-font-smoothing: antialiased;
}
