.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: 100vh;

  padding: 4rem 0;
  flex: 1;
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
  margin: 0;
  color: #242424;
  line-height: 1.15;
  font-size: 4rem;
}

.socialmedia {
  padding: 0;
  
  margin-top: 1.6rem;
  
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}


.socialmedia li {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 48px;

  padding: 0 0.8rem;
  
  color: #242424;
}

.socialmedia li:nth-child(1) {
  padding: 0 0.6rem;
}

.socialmedia li:nth-child(2) {
  font-size: 40px;
  margin-bottom: 2px;
}

.socialmedia li:nth-child(3) {
  padding-top: 2px;
}

.loading {
  justify-self: flex-end;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 75px;
}
.loading div {
  position: absolute;
  top: 53px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #242424;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
  left: 6px;
  animation: loading1 0.8s infinite;
}

.loading div:nth-child(2) {
  left: 6px;
  animation: loading2 0.8s infinite;
}

.loading div:nth-child(3) {
  left: 24px;
  animation: loading2 0.8s infinite;
}

.loading div:nth-child(4) {
  left: 42px;
  animation: loading3 0.8s infinite;
}

@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(18px, 0);
  }
}